Pair {
    layout: horizontal;
}

BattlePanel {
    align: center middle;
    dock: bottom;
    background: $boost;
    min-width: 100;
    height: 30%;
    padding: 1 1;
}

#action-grid {
    grid-size: 2;
    grid-gutter: 1 1;
    width: 40%;
    height: auto;
    content-align: center top;
    
    dock: right;
}

#move-grid {
    grid-size: 2;
    grid-gutter: 1 1;
    width: 40%;
    height: auto;
    content-align: center top;
    dock: left;
}

#battle-log-scroll {
    height: 5;
    content-align: center bottom;
}

#prompt{
    dock: left;
    width: 60%;
}

.hidden{
    display: none;
}